<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AccentCS.App.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AccentCS.App.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="EnableWindowsFormsHighDpiAutoResizing"  value="True" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AccentCS.App.My.MySettings>
            <setting name="SyncSetting_ActiveCaption_Sync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncSetting_ActiveCaption_SetBrit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SyncSetting_ActiveCaption_UsrBrit" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="SyncSetting_GradientActiveCaption_Sync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncSetting_GradientActiveCaption_SetBrit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SyncSetting_GradientActiveCaption_UsrBrit" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="SyncSetting_Highlight_Sync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SyncSetting_Highlight_SetBrit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncSetting_Highlight_UsrBrit" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="SyncSetting_MenuHighlight_Sync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SyncSetting_MenuHighlight_SetBrit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncSetting_MenuHighlight_UsrBrit" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="SyncSetting_HotTrack_Sync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SyncSetting_HotTrack_SetBrit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncSetting_HotTrack_UsrBrit" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="General_AccentSource" serializeAs="String">
                <value>AccentPalette</value>
            </setting>
            <setting name="General_InstantOptionChanges" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ForeSysColorUsrValue_ActiveCaptionText" serializeAs="String">
                <value />
            </setting>
            <setting name="ForeSysColorUsrValue_HighlightText" serializeAs="String">
                <value />
            </setting>
        </AccentCS.App.My.MySettings>
    </userSettings>
    <applicationSettings>
        <AccentCS.App.My.MySettings>
            <setting name="UI_ContextMenuStyle" serializeAs="String">
                <value>2</value>
            </setting>
        </AccentCS.App.My.MySettings>
    </applicationSettings>
</configuration>